@{
	ViewData["Title"] = "About myself";
}

<h2> Thông tin cá nhân sinh viên</h2>

<table class="table table-bordered">
	<tr>
		<th> Mã Sinh Viên </th>
		<td> 231230747 </td>
	</tr>
	<tr>
		<th> Họ và tên </th>
		<td>Bùi Hải Đức </td>
	</tr>
	<tr>
		<th> Lớp </th>
		<td>CNTT2_k64 </td>
	</tr>
</table>